body {
    background-color: #000;
    font-family: 'Roboto';
}

h1 {
    font-size: 3rem;
    color: white;
    margin-top: 15px;
}

h4 {

    font-size: 1.25rem;
    font-family: ' Montserrat';
    font-weight: bold;
}

button {
    width: 100%;
    background: linear-gradient(to left, #1149ff, #7091ff, #1149ff);
    color: white;
   
}

span {
    font-size: 14px;
    font-family: 'Montserrat';
}

#main {
    background: linear-gradient(to bottom right, #324557, #243342);
}

.nav-color {
    background-color: #000;
}

#nav-mobile {
    margin-left: 4.5%;
}

#shopping-cart {
    float: right !important;
    margin-right: 4.5%;
}

.homeLink {
    font-family: "Roboto Mono";
}

.home-search {
    text-align: right !important;
    width: 30%;
    border: 1px crimson;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 20px;
}

.form-div {

    display: grid;
    place-items: center;
    
}

.text-under-search {
    color: white;
    filter: drop-shadow(0 2mm 0.5rem crimson);
    font-size: 1.4rem;
    font-family: 'Roboto';
    margin-top: 15px;
    text-align: center;

}

.title-input {
    height: 30px !important;
    color: white;

}

#home-games {
    display: flex;
    align-items: center;
    justify-content: center;

}

#game-list {
    display: block
}

#game-grid {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 5%;
    margin-right: 4%;
    min-width: 0;
    gap: 30px;
}

.game-container {
    display: flex;
    position: relative;
    flex-direction: column;
    object-fit: contain;
    width: 100px;
    height: auto;
    align-items: flex-start;
    color: white;
    justify-content: center;
}

.homeGameImg {
    width: 100px;
    height: 158px;
    object-fit: contain !important;
}

.sale-price {
    font-size: 1rem;
    font-weight: bold;
    color: #00d659;
}

#wishlist {
    background: linear-gradient(to bottom right, #324557, #243342);
}

.wish-list-div {
    text-align: center;
}


#wishlist-grid {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 4.5%;
    align-items: flex-end;
}

.wishlist-container {
    display: flex;
    position: relative;
    flex-direction: column;
    object-fit: contain;
    width: 200px;
    height: 300px;
    height: auto;
    color: white;
    align-items: center;
}

.wishlistGameImg {
    height: 180px;
    width: 125px;
}

.store-banner {
    height: 30px;
    width: 70%;
}

.best-price {
    color: #00d659;
    font-weight: bold;
    font-size: 1.5rem;
}

.cheapest-price-ever {
    color: rgb(3, 213, 255);
    font-size: 1.2rem;
}

.store-name {
    font-size: 1rem;
    margin-top: 3px;
}

.purchase {

    color: white;
    padding-bottom: 2px;
}