body {
    background-color: #000;
}

h1 {
    font-size: 3rem;
    color: white;
}

h4 {
    font-size: 1.25rem;
    font-family: ' Montserrat';
    font-weight: bold;
}

span {
    font-size: 14px;
    font-family: ' Montserrat';
}

.nav-color {
    background-color: #000;
}

#nav-mobile {
    margin-left: 4.5%;
}
#shopping-cart {
   float: right !important;
   margin-right: 4.5%;
}

.homeLink {
    font-family: "Roboto Mono";

}

#main {
    height: 66px;

}

.home-search {
    text-align: right !important;
    width: 30%;
    border: 1px crimson;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 20px;
}

.form-div {

    display: grid;
    place-items: center;
}

.title-input {
    height: 30px !important;
    color: white;

}





#home-games {
    display: flex;
    align-items: center;
    justify-content: center;

}

#game-list {
    display: block
}

#game-grid {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 5%;
    margin-right: 4%;
    min-width: 0;
    gap: 30px;



}


.game-container {
    display: flex;
    position: relative;
    flex-direction: column;
    object-fit: contain;
    width: 100px;
    height: auto;
    align-items: flex-start;
    color: white;
    justify-content: center;

}

.homeGameImg {
    width: 100px;
    height: 158px;
    object-fit: contain !important;
}

.sale-price {
    font-weight: bold;
    color: #00d659;
}

/* #wishlist-games {
    display: block;
} */

/* .center-align {
    padding-bottom: 7%;
} */
#wishlist-grid {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 4.5%;
    width: 300px;
    
    /* height: 50vh; */

}

.wishlist-container {
    display: flex;
    position: relative;
    flex-direction: column;
    object-fit: contain;
    width: auto;
    height: auto;
    align-items: flex-start;
    color: white;
    justify-content: center;

    /* display: inline-block; */

}

.add-to-shopping-cart {
    width: 100%;
    color: white;
    padding-bottom: 2px;
    background: linear-gradient(to left, #7f9ed3, #4b73c3, #376edd);
}

.add-to-wishlist {
    width: 100%;
    background: linear-gradient(to right, #7f9ed3, #4b73c3, #376edd);
}

span {
    object-fit: contain;
}